:root {
	--blue: #007bff;
	--red: #dc3545;
	--grey: #6c757d;
	--white: #ffffff;
	--light-grey: #6c757d;
}

.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.pokemon-link-btn {
	text-transform: capitalize;
	display: block;
	color: var(--blue);
	background-color: transparent;
	font-weight: 400;
	font-size: 16px;
	padding-top: 5px;
	text-decoration: none;
}

.pokemon-link-btn:hover {
	text-decoration: underline;
}

.flex {
	display: flex;
}

.text-danger {
	color: var(--red);
}

.center {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.row {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 2px;
}

.heading-blue {
	text-transform: capitalize;
	font-weight: 600;
	font-size: 18px;
	color: var(--blue);
}

.title-blue {
	text-transform: capitalize;
	font-weight: 600;
	font-size: 14px;
	color: var(--blue);
	text-align: center;
}

.text-blue {
	text-transform: capitalize;
	font-size: 14px;
	color: var(--blue);
	text-align: center;
}

.text-grey {
	text-transform: capitalize;
	font-size: 14px;
	color: var(--grey);
	text-align: center;
}

.pl-5 {
	padding-left: 5px;
}

.p-10 {
	padding: 10px;
}

.pokemon-img {
	height: 200px;
	width: 200px;
}

.img-buttons {
	color: var(--blue);
	background-color: transparent;
	border-color: var(--blue);
	border-radius: 5px;
	border-width: 1px;
	padding: 5px 15px;
	font-size: 14px;
}

.img-buttons:hover {
	color: var(--white);
	background-color: var(--blue);
	border-color: var(--blue);
	cursor: pointer;
}

.img-buttons:disabled {
	color: var(--grey);
	background-color: transparent;
	border-color: var(--light-grey);
	cursor: default;
}

.px-20 {
	padding-left: 20px;
	padding-right: 20px;
}

.py-20 {
	padding-top: 20px;
	padding-right: 20px;
}

.link-btn {
	font-size: 14px;
	display: block;
}

.mx-5 {
	margin-left: 5px;
	margin-right: 5px;
}
